
.metadata/.lock
.metadata/.log
/.metadata/
wgt/target/m2e-wtp/web-resources/META-INF/maven/com.varxyz/wgt/pom.properties
wgt/.classpath
wgt/.classpath
wgt/target/m2e-wtp/web-resources/META-INF/maven/com.varxyz/wgt/pom.properties
wgt/pom.xml
wgt/target/m2e-wtp/web-resources/META-INF/maven/com.varxyz/wgt/pom.properties
wgt/target/m2e-wtp/web-resources/META-INF/maven/com.varxyz/wgt/pom.properties
wgt/target/m2e-wtp/web-resources/META-INF/maven/com.varxyz/wgt/pom.properties
