@charset "UTF-8";
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'KOTRAHOPE';
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden; 
 }
::-webkit-scrollbar {
  display: none;
}
.fa-instagram:before {
    color: #DA0037;
}
.container{
 border : 1px solid rgba(var(--b6a,219,219,219),1);;
 display : flex;
 flex-direction: column;
 align-items: center;
 height : 480px;
 width : 450px;
 background-color : rgba(var(--d87,255,255,255),1);
 padding : 30px;
}

.container h1 {
 	margin : 30px;
    font-size : 45px;
    font-family : "Lobster", cursive;
}
.headerContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom : 1px solid rgba(var(--b6a,219,219,219),1);
    height : 40px;
    padding : 30px 0 70px 0;
}
.headerContainer p {
	margin: 0 auto;
	margin-top: 6px;
	font-size: 27px;
}
.headerContents{
    display : grid;
    justify-content: space-evenly;
    width : 100%;
    align-items : center;
}
.WestagramTag{
    display : flex;
}
.WestagramTag a{
    text-decoration: none;
    font-size : 30px;
    color : black;
    font-weight: bold;
    font-family : "Lobster", cursive;
}
.headerSearchBar{
    display : flex;
    justify-content: center;
    align-items: center;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    padding : 5px 5px 5px 5px;
    margin-top: 20px;
}
.write_area .title_area, .write_area .content_area {
	font-size: 15px;
    border : groove;
    width : 260px;
    padding : 5px;
}
.headerRightImage{
    font-size : 30px;
}
.headerRightImage a{
    color :black;  
}
.body1{
    display : contents;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-top : 15px;
    margin : 30px;
}
article{
    display: flex;
    flex-direction: column;
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    width : 614px;
    height: 100%;
}
.feedHeader{
    display : flex;
    padding : 10px 5px;
    align-items: center;
    justify-content: row; 
}
.feedHeader img{
    border-radius: 50%;
    margin-left : 10px;
}
.feedHeader span{
    padding-left: 10px;
    font-weight: bold;
}
.feedHeader a{
    padding-left : 420px;
}
.feedImage{
    display : flex;
    justify-content: center;
    align-content: center;
}
.feedReactionButton {
    display: block;
    justify-content: center;
} 
.feedReactionButton button{
    /* font-size : 25px; */
    outline: 0;
    border : 0;
    background-color: transparent;
}
.reactionButton1 {
	position: relative;
	margin-left: 5%;
}
.feedReaction{
    display : flex;
}
.ReactionImage{
    display : flex;
    justify-content: flex-start;
    align-items :center;
    padding-left : 10px;
    padding-top : 5px;
}
.ReactionImage span{
    padding-left : 10px;
    font-size : 15px;
    font-weight: bold;
}
.reactionSentence{
    display : flex;
    justify-content: row;
    padding : 10px 0 10px 10px;
}
.feedReaction img{
    border-radius: 50%;
}
.surfSentence{
    display :flex;
    font-size : 15px;
    align-items: center;
}
.surfSentence span{
    font-weight: bold;
    font-size : 15px;
    margin-right : 10px;
}
.moreView{
    padding-left :10px;
}
.moreView a{
    text-decoration: none;
    color : rgba(var(--b6a,219,219,219),1);
}

.time{
    padding : 10px 0 10px 10px;
    font-size : 15px;
    color : rgba(var(--b6a,219,219,219),1);
}
    
.title_top h4{
    position: relative;
	margin: auto;
	margin-top: 70px;
    left: 3%;
    font-size: 22px;
}

.write {
	position: relative;
	width: 370px;
	margin: 0 auto;
	margin-top: 5px;
    line-height: 1.2;
    /*border: ridge;*/
}

.write h4 {
	margin-top: 0px;
	margin-bottom: -15px;
}
.write .homeregdate {
	margin: 0;
    display: flex;
    position: absolute;
    right: 1%;
    bottom: 12%;
    font-size: 15px;
}
.write .mypageregdate {
	margin: 0;
    display: flex;
    position: absolute;
    right: 0%;
    bottom: 7%;
    font-size: 15px;
}
.write .searchregdate {
	margin: 0;
    display: flex;
    position: absolute;
    right: 1%;
    bottom: 12%;
    font-size: 15px;
}
.WestagramTag span {
	color: #DA0037;
}
.headerContents button {
	cursor: pointer;
	font-size: 15px;
    width: 70px;
    height: 30px;
    border: 5px;
    border-radius: 8px;
    background-color: #DA0037;
    color: white;
}
.mypage #user {
	position: absolute;
    cursor: pointer;
    top: 13%;
    right: 2%;
}
.mypage #gohome {
	position: absolute;
    cursor: pointer;
    top: 13%;
    left: 2%;
}
/*날짜 표시*/
.likearea{
	display: flex;
}
.likearea p {
	margin: 0;
	position: relative;
    left: 55%;
}

.likebtn.off{
	background-size: cover;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 5px;
    background-image: url(img/dislikeheart.png);
    background-color: hsl(0, 0%, 100%);
}

.likebtn.on {
	background-size: cover;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 5px;
	background-image: url('img/likeheart.png');
}

.writebtn {
	font-family: 'KOTRAHOPE';
	position: relative;
	cursor: pointer;
    font-size: 22px;
    width: 75px;
    height: 30px;
    border: 5px;
    border-radius: 8px;
    background-color: #DA0037;
    color: white;
    margin-top: 30px;
    left: 35%;
}

#likeCSS {
	width: 20px;
	height:20px;
}

.searchresult {
	text-align: center;
    font-size: 30px;
}